@charset "utf-8";
/*! Adapted from normalize.css 2012-03-11T12:53 UTC - http://github.com/necolas/normalize.css */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
summary {
  display: block;
}
audio,
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}
audio:not([controls]) {
  display: none;
  height: 0;
}
[hidden] {
  display: none;
}
html {
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}
html,
button,
input,
select,
textarea {
  font-family: sans-serif;
}
body {
  margin: 0;
}
a:focus {
  outline: thin dotted;
}
a:hover,
a:active {
  outline: 0;
}
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}
h2 {
  font-size: 1.5em;
  margin: 0.83em 0;
}
h3 {
  font-size: 1.17em;
  margin: 1em 0;
}
h4 {
  font-size: 1em;
  margin: 1.33em 0;
}
h5 {
  font-size: 0.83em;
  margin: 1.67em 0;
}
h6 {
  font-size: 0.75em;
  margin: 2.33em 0;
}
abbr[title] {
  border-bottom: 1px dotted;
}
b,
strong {
  font-weight: bold;
}
blockquote {
  margin: 1em 40px;
}
dfn {
  font-style: italic;
}
mark {
  background: #ff0;
  color: #000;
}
p,
pre {
  margin: 1em 0;
}
pre,
code,
kbd,
samp {
  font-family: monospace, serif;
  _font-family: 'courier new', monospace;
  font-size: 1em;
}
pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}
q {
  quotes: none;
}
q:before,
q:after {
  content: '';
  content: none;
}
small {
  font-size: 75%;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
dl,
menu,
ol,
ul {
  margin: 1em 0;
}
dd {
  margin: 0 0 0 40px;
}
menu,
ol,
ul {
  padding: 0 0 0 40px;
}
nav ul,
nav ol {
  list-style: none;
  list-style-image: none;
}
img {
  border: 0;
  -ms-interpolation-mode: bicubic;
}
svg:not(:root) {
  overflow: hidden;
}
figure {
  margin: 0;
}
form {
  margin: 0;
}
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}
legend {
  border: 0;
  padding: 0;
  white-space: normal;
  *margin-left: -7px;
}
button,
input,
select,
textarea {
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
  *vertical-align: middle;
}
button,
input {
  line-height: normal;
}
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  cursor: pointer;
  -webkit-appearance: button;
  *overflow: visible;
}
button[disabled],
input[disabled] {
  cursor: default;
}
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
  *height: 13px;
  *width: 13px;
}
input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
textarea {
  overflow: auto;
  vertical-align: top;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* For modern browsers */
.clearfix:before,
.clearfix:after,
#aes-regionTop:before,
#aes-content .aes-content-container:before,
.skeleton:before,
#aes-regionPrimary:before,
#aes-pageContent:before,
#aes-pageFooter:before,
#aes-pageHeader:before,
#aes-regionTop:after,
#aes-content .aes-content-container:after,
.skeleton:after,
#aes-regionPrimary:after,
#aes-pageContent:after,
#aes-pageFooter:after,
#aes-pageHeader:after {
  content: "";
  display: table;
}
.clearfix:after,
#aes-regionTop:after,
#aes-content .aes-content-container:after,
.skeleton:after,
#aes-regionPrimary:after,
#aes-pageContent:after,
#aes-pageFooter:after,
#aes-pageHeader:after {
  clear: both;
}
/* For IE 6/7 (trigger hasLayout) */.clearfix,
#aes-regionTop,
#aes-content .aes-content-container,
.skeleton,
#aes-regionPrimary,
#aes-pageContent,
#aes-pageFooter,
#aes-pageHeader {
  *zoom: 1;
}
.visually-hidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px;
  width: 1px;
  margin: -1px;
  padding: 0;
  border: none;
}
.aes-sr-only {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  /* IE6, IE7 */

  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  /* overflow:hidden; should be removed as it causes labels not to be read in Firefox, this is likely a bug */

}
.aes-layout > div > div,
.aes-layout > div > section,
.aes-layout > div > aside {
  margin-bottom: 20px;
}
.aes-layout > div > section > ul,
.aes-layout > div > section > ul > li {
  display: block;
  list-style: none;
  margin: 0;
  padding: 0;
}
.aes-layout {
  letter-spacing: -0.31em;
  *letter-spacing: normal;
  word-spacing: -0.43em;
}
.aes-layout > div {
  display: inline-block;
  *display: inline;
  letter-spacing: normal;
  word-spacing: normal;
  vertical-align: top;
  margin-left: 20px;
  zoom: 1;
}
.aes-layout > div:first-child {
  margin-left: 0;
}
.aes-layout > div.aes-layout-c1 {
  width: 22px;
}
.aes-layout > div.aes-layout-c2 {
  width: 64px;
}
.aes-layout > div.aes-layout-c3 {
  width: 106px;
}
.aes-layout > div.aes-layout-c4 {
  width: 148px;
}
.aes-layout > div.aes-layout-c5 {
  width: 190px;
}
.aes-layout > div.aes-layout-c6 {
  width: 232px;
}
.aes-layout > div.aes-layout-c7 {
  width: 274px;
}
.aes-layout > div.aes-layout-c8 {
  width: 316px;
}
.aes-layout > div.aes-layout-c9 {
  width: 358px;
}
.aes-layout > div.aes-layout-c10 {
  width: 400px;
}
.aes-layout > div.aes-layout-c11 {
  width: 442px;
}
.aes-layout > div.aes-layout-c12 {
  width: 484px;
}
.aes-layout > div.aes-layout-c13 {
  width: 526px;
}
.aes-layout > div.aes-layout-c14 {
  width: 568px;
}
.aes-layout > div.aes-layout-c15 {
  width: 610px;
}
.aes-layout > div.aes-layout-c16 {
  width: 652px;
}
.aes-layout > div.aes-layout-c17 {
  width: 694px;
}
.aes-layout > div.aes-layout-c18 {
  width: 736px;
}
.aes-layout > div.aes-layout-c19 {
  width: 778px;
}
.aes-layout > div.aes-layout-c20 {
  width: 820px;
}
.aes-layout > div.aes-layout-c21 {
  width: 862px;
}
.aes-layout > div.aes-layout-c22 {
  width: 904px;
}
.aes-layout > div.aes-layout-c23 {
  width: 946px;
}
.aes-layout > div.aes-layout-c24 {
  width: 988px;
}
.aes-layout > div.aes-layout-c100 {
  width: 100%;
}
.aes-loading {
  background: transparent url(/te/ux-core/1.0.4/public/images/loader16x16.gif) 0 0 no-repeat;
  margin: 150px auto;
  padding-left: 25px;
  width: 100px;
}
.aes-notifications {
  background: #fbf2c3 url(/te/ux-core/1.0.4/public/img/notifications.png) 0 0 repeat-y;
  border: 1px solid #c16803;
  display: none;
  padding: 5px;
}
.aes-notifications.aes-shown {
  display: block;
}
.aes-notifications h1 {
  color: #c6730d;
  font-size: 1.4em;
  font-weight: bold;
}
.aes-notifications p {
  color: #000;
  font-size: 1em;
  margin: 5px 5px 0 33px;
}
.aes-notifications ul {
  font-size: .8125em;
  list-style: circle;
  padding-left: 2em;
}
.aes-notifications ul li {
  margin-bottom: 8px;
}
.aes-notifications.aes-errors {
  background: #f6d8d8 url(/te/ux-core/1.0.4/public/img/notifications_error.png) 0 0 repeat-y;
  border-color: #953434;
}
.aes-notifications.aes-errors h1 {
  color: #d83636;
}
.aes-notifications.aes-success {
  background: #d9f6d8 url(/te/ux-core/1.0.4/public/img/notifications_error.png) 0 0 repeat-y;
  border-color: #06c;
}
.aes-state-hidden {
  display: none;
}
.aes-more:after {
  content: ' \00BB';
}
.aes-container {
  background-color: #fff;
  border: 1px solid #bbb;
  box-shadow: 0 1px 1px 1px #e6e6e6;
}
.aes-container.aes-alt {
  padding: 20px;
}
.aes-container header h1 {
  font-size: 1.125em;
}
.aes-container h1 {
  font-size: 1.25em;
  margin-bottom: 1em;
}
.aes-container h2 {
  font-size: 1.125em;
  font-weight: normal;
  margin-bottom: 1em;
}
.aes-container td p {
  font-size: 1em;
}
.aes-container li {
  margin-bottom: 5px;
}
.aes-container p:last-child {
  margin: 0;
}
.aes-cards {
  list-style: none;
  margin: 0;
}
.aes-cards li {
  border-bottom: 1px solid #fff;
  border-top: 1px solid transparent;
  display: inline-block;
  margin-bottom: -2px;
}
.aes-cards li a {
  border-bottom: 1px solid #cdcdcd;
  border-top: 1px solid transparent;
  display: inline-block;
  padding: 10px 15px;
}
.aes-cards li a:link,
.aes-cards li a:visited,
.aes-cards li a:hover,
.aes-cards li a:active {
  color: #555;
}
.aes-cards li.aes-selected {
  border: 1px solid #b6b6b6;
  border-top-color: #cdcdcd;
  border-bottom-color: #f7f7f7;
  border-radius: 0 0 3px 3px;
  -moz-border-radius: 0 0 3px 3px;
  -o-border-radius: 0 0 3px 3px;
  -webkit-border-radius: 0 0 3px 3px;
  -ms-border-radius: 0 0 3px 3px;
}
.aes-cards li.aes-selected a {
  background-color: #f7f7f7;
  border-top-color: #fff;
  border-bottom-color: #f7f7f7;
}
.aes-cards li.aes-selected a:link,
.aes-cards li.aes-selected a:visited,
.aes-cards li.aes-selected a:hover,
.aes-cards li.aes-selected a:active {
  color: #000;
  text-decoration: none;
}
strong {
  font-weight: bold;
}
em {
  font-style: italic;
}
html.jsEnabled .aes-hide {
  display: none;
}
html body {
  font: 13px arial, helvetica, clean, sans-serif;
  text-align: left;
  line-height: 18px;
}
#aes-body {
  margin: 20px auto 0;
  max-width: 988px;
  min-width: 1024px;
  min-height: 375px;
}
body.testing > footer > nav > ul {
  background-position: 180px 18px;
  padding: 110px 0 28px;
}
